body {
  background: -webkit-linear-gradient(240deg, #1a5e69 41%, #FC6120 100%);
  background: -moz-linear-gradient(240deg, #1a5e69 41%, #FC6120 100%);
  background: -o-linear-gradient(240deg, #1a5e69 41%, #FC6120 100%);
}
